{% extends 'base.html' %}

{% block title %}
<title>
    Homepage - Pulmo
</title>
{% endblock %}

{% block maincontent %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to pulmo!</h1>
        <p class="lead">Are you a smoker? Then pulmo can give you a description about symptomp's pattern base on a data set.</p>
        <a href={{url_for('uploadDataset')}} class="btn btn-primary">Upload data</a>
    </div>
</div>
{% endblock %}

{% block desc_content %}
<div class="container">
    <div class="row justify-content-center mb-2">
        <h1 class="text-center">How pulmo works</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-12 d-flex align-items-stretch mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='berkas-jpg.jpeg') }}" alt="Unggah berkas">
                <div class="card-body">
                    <p class="card-text"><strong>1.</strong> Upload the <u>*csv formatted file</u> as the dataset for the algorithm.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex align-items-stretch mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='algoritma-jpg.jpeg') }}" alt="Perhitungan algoritma">
                <div class="card-body">
                    <p class="card-text"><strong>2.</strong> System will launch the algorithm to produce the association rules based on the given dataset.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 d-flex align-items-stretch mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='hasil.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><strong>3.</strong> See the generated association rules.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}